<!-- all other content of this page is defined in layout.ejs  -->

<!-- this tag will be mode to using extractStyles in codeial/index.js -->


<h1> 
Codeail / Home 
</h1>

<section id="feed-post">

    <h1>Posts</h4>

    <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="post">

            <textarea name="content" cols="30" rows="3" placeholder="Type here...." required></textarea> 
    
            <input type="submit" value="Post">
    
        </form>
    <%}%>

    <div id="post-list-contaier">
        <ul>
            <% for(let i=0 ; i<posts.length ; i++) {%>
            
                <li style="border-bottom: 2px solid black;">
                    <p>
                        <% if(locals.user && locals.user.id==posts[i].user.id){%>
                            <small>
                                <a href="/posts/destroy/<%=posts[i].id%>">Delete</a>
                            </small><br>
                        <%}%>
                        <%=posts[i].content%>
                        <h6>Posted by <%=posts[i].user.name%></h6>
                    </p>
                    <div class="post-comments">
                        <h3>Comments</h3>
       
                        <% if(locals.user) {%>
                        <form action="/comments/create" method="POST" >
                            <textarea name="comment"  cols="30" rows="3" required></textarea>
                            <input type="hidden" name="post" value="<%=posts[i]._id%>">
                            <input type="submit" value="Comment">
                        </form>

                        <div class="post-comments-list">
                            <ul id="post-comments-<%=posts[i]._id%>"> 
                                <% for(let j=0 ; j<posts[i].comments.length ; j++) {%>
                                    <li>
                                        <p>
                                            <small><%=posts[i].comments[j].user.name%></small> <br>
                                            <%=posts[i].comments[j].content%>
                                        </p>
                                    </li>
                                <%}%>
                            </ul> 
                        </div>
                    <%}%>
                    </div>
                </li>
        
            <%}%>
        </ul>
    </div>


</section>