<!-- this is the layout for all the pages i.e. the <% body %> we have defined inside the body tag is variable and its value is will come from home,ejs or user_profile.ejs etc accroding to the page which will get called   -->

<html>
    <head>
        <link rel="stylesheet"  href="/css/layout.css">
        <!-- the stylesheet of every body which will be fetched we be extracted from body and put here -->
        <%- style %>
        <title> <%=title%> </title>
    </head>
    <body>

        <!-- including footer using ejs partials -->
        <%- include('_header'); %>
        
        <%- body %>

        <!-- including footer using ejs partials -->
        <%- include('_footer'); %>
        
        <!-- the script of every body which will be fetched we be extracted from body and put here -->
        <%- script %>
    </body>
</html>