<!-- this is the layout for all the pages i.e. the <% body %> we have defined inside the body tag is variable and its value is will come from home,ejs or user_profile.ejs etc accroding to the page which will get called   -->

<html>
    <head>
        
        <title> <%=title%> </title>

        <!-- the stylesheet of every body which will be fetched we be extracted from body and put here -->
        <%- style %>

        <link rel="stylesheet" type="text/css" href="/css/layout.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

        <!-- including footer using ejs partials -->
        <%- include('_header'); %>        

       <main>
        <%- body %>
       </main>

        <!-- including footer using ejs partials -->
        <%- include('_footer'); %>
        
       
        <!-- the script of every body which will be fetched we be extracted from body and put here -->
        <%- script %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script>
            // showing the flash message
            "<%if( flash.success  &&  flash.success.length >0) { %>"
            
                new Noty({
                    theme: 'relax',
                    text: '<%= locals.flash.success%>',
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
            '<% } %>'
            
        </script>

    </body>
</html>